<h1>Inquire about the listing</h1>

<%= form_for message, url: url, method: method, html: {class: "form"} do |f| %>
  <fieldset>

  <%= f.hidden_field :listing_id, value: message.listing_id %>

  <div>
    <%= f.label :start_date, "What's the desired start date of your ad?" %>
    <%= f.date_select :start_date, required: true %>
  </div>

  <div>
    <%= f.label :end_date, "What's the desired end date of your ad?" %>
    <%= f.date_select :end_date, required: true %>
  </div>

  <div>
    <%= f.label :subject %>
    <%= f.text_field :subject, required: true %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body, required: true %>
  </div>

  <%= f.submit "Send Inquiry", :class => 'button' %>
  </fieldset>
<% end %>