<a name="about"></a>
<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <div id="intro-box">
            <div class="split-pannels">
              <ul class="nav nav-tabs" id="myTab">
                <li class="active" id="request-tab" style="width:50%;"><a href="#request" data-toggle="tab">Find your ad space</a></li>
                <li id="listing-tab" style="width:50%;"><a href="#listing" data-toggle="tab">List your ad space</a></li>
              </ul>

              <div class="tab-content">
                <div class="tab-pane active" id="request">
                  <div class="row">
                    <div id="request-section" class="col-xs-12">
                      <h1 class="text-center hidden-xs">The only public<span class="orange">ad</span> space marketplace</h1>
                      <h2 class="text-center visible-xs" style="color:black;">The only public<span class="orange">ad</span> space marketplace</h2>
                      <div class="visible-xs">
                        <%= link_to "Search for your ideal public ad space".html_safe, listings_path, class: "btn btn-warning", data: { no_turbolink: true } %>
                      </div>
                      <div class="hidden-xs">
                        <%= link_to "Search for your ideal public ad space".html_safe, listings_path, class: "btn btn-warning btn-lg", data: { no_turbolink: true } %>
                      </div>
                    </div>
                  </div>
                </div> <!-- request tab-pane -->

                <div class="tab-pane" id="listing">
                  <div class="row">
                    <div id="listing-section" class="col-xs-12">
                      <h2 class="text-center hidden-xs">Start listing your public<span class="orange">ad</span> space for <span class="orange">free</span> <br />by creating an account today</h2>
                      <h3 class="text-center visible-xs" style="color:black;">Start listing your public<span class="orange">ad</span> space for <span class="orange">free</span> by creating an account today</h3>
                      <%= form_for @user, url: users_path, method: :post, html: {class: "signup-form form form-inline"} do |f| %>
                        <div class="form-group">
                          <%= f.label :email %>
                          <%= f.email_field :email, required: true, class: "form-control" %>
                        </div>

                        <div class="form-group">
                          <%= f.label :password %>
                          <%= f.password_field :password, required: true, class: "form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.submit "join", :class => 'btn btn-warning' %>
                        </div>
                      <% end %>
                    </div> <!-- listing section -->
                  </div> <!-- row -->
                </div> <!-- listing tab-pane -->

              </div> <!-- tab-content -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <div class="clearfix"></div>
        <h2 class="section-heading">Request a public<span class="orange">ad</span> space</h2>
        <hr class="section-heading-spacer"><br>
        <p class="home lead">Finding the perfect ad space to promote your business, products, or cause is easier than ever thanks to public<span class="ad-txt">ad</span>. Simple browse our map, find the listing/s you like most, and submit a request. Secure your dream adverstisement space in less than 3 minutes, it's that simple. </p>
        <%= link_to "Find your ad space", listings_path, class: "btn btn-warning btn-lg", data: { no_turbolink: true } %>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag("public-ad-sample.png", class:"img-responsive") %>
      </div>
    </div>
  </div>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <div class="clearfix"></div>
        <h2 class="section-heading">Listing a public<span class="orange">ad</span> space</h2>
        <hr class="section-heading-spacer"><br>
        <p class="home lead">Do you own out-of-home media space? Are you tired of paying those high advertisement agency fee's? List your sign for free today by creating a profile in under 3 minutes. We'll make an instantly marketeable profile for your public ad space that can be shared with a worldwide audience. Expand your horizons, increase your revenue. List with public<span class="ad-txt">ad</span> today.</p>
        <%= link_to "List your ad space", new_listing_path, class: "btn btn-warning btn-lg", data: { no_turbolink: true } %>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag("public-ad-sample-2.jpg", class:"img-responsive img-rounded") %>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-a -->

<a name="contact"></a>
<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="section-heading">Follow Us:</h2>
      </div>
      <div class="col-lg-6">
        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="https://twitter.com/SBootstrap" class="btn btn-warning btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
          </li>
          <li>
            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-warning btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
          </li>
          <li>
            <a href="#" class="btn btn-warning btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.banner -->