<h1>Message History for <%= link_to @listing.title, listing_path(@listing) %></h1>

<% if @listing.user == @user %>
  <h3>This is an inquiry for your listing</h3>
<% else %>
  <h3>This is a request for others listing</h3>
<% end %>

<% @messages.each do |message| %>
  <div>
    <% if message.recipient == @user %>
      <li>From:</li>
      <li>
        <% if message.sender.name.present? %>
          <%= message.sender.name %>
        <% else %>
          <%= message.sender.email %>
        <% end %>
      </li>
    <% else %>
      <li>To:</li>
      <li>
        <% if message.recipient.name.present? %>
          <%= message.recipient.name %>
        <% else %>
          <%= message.recipient.email %>
        <% end %>
      </li>
    <% end %>

    <% if message.start_date.present? && message.end_date.present? %>
      <li>Desired Start Date: <%= message.start_date %></li>
      <li>Desired End Date: <%= message.end_date %></li>
    <% end %>

    <li>Subject:</li>
    <li><%= message.subject %></li>
    <li>Body:</li>
    <li><%= message.body %></li>

    <li>Sent On:</li>
    <li><%= message.created_at %></li>
  </div>
<% end %>