<div class="container">
  <div class="container bootstrap snippet">
    <div class="row">
      <div class="col-sm-10"><h1><%= @user.name %>'s Club Profile</h1></div>
    </div>

    <div class="row">
      <div class="col-sm-3"><!--left col-->

        <ul class="list-group">
          <li class="list-group-item text-muted"><i class="fa fa-user fa-1x"></i> Club Profile</li>
          <li class="list-group-item text-right"><span class="pull-left">
            <strong>Email</strong></span>
            <%= @user.email %>
          </li>
          <li class="list-group-item text-right"><span class="pull-left">
            <strong>First Name</strong></span>
            <%= @user.first_name %>
          </li>

          <li class="list-group-item text-right"><span class="pull-left">
            <strong>Last Name</strong></span>
            <%= @user.last_name %>
          </li>

          <li class="list-group-item text-right"><span class="pull-left">
            <strong>Phone</strong></span>
            <%= number_to_phone(@user.phone) %>
          </li>
        </ul>

        <ul class="list-group">
          <li class="list-group-item text-muted"><i class="fa fa-dashboard fa-1x"></i> Club Activity</li>
          <li class="list-group-item text-right">
            <span class="pull-left">
              <strong>Posted public<span class="orange">ad</span> Listings</strong>
            </span>
            <%= @listings_to_sell.size %>
          </li>
          <li class="list-group-item text-right">
            <span class="pull-left">
              <strong>Requested public<span class="orange">ad</span> Listings</strong>
            </span>
            <%= @listings_to_buy.size %>
          </li>
          <li class="list-group-item text-right">
            <span class="pull-left">
              <strong>Total Earnings</strong>
            </span>
            <%= number_to_currency(234.32) %>
          </li>

          <li class="list-group-item text-right">
            <span class="pull-left">
              <strong>Total Spendings</strong>
            </span>
            <%= number_to_currency(99.50) %>
          </li>
        </ul>

      </div><!--/col-3-->

      <div class="col-sm-9">
        <ul class="nav nav-tabs" id="myTab">
          <li class="active" style="width:33%;"><a href="#listings" data-toggle="tab">Listings</a></li>
          <li style="width:33%;"><a href="#messages" data-toggle="tab">Messages</a></li>
          <li style="width:33%;"><a href="#settings" data-toggle="tab">Settings</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="listings">
            <% if @listings_to_sell.present? %>
              <h3 class="text-center orange">Leased Spaces</h3>
              <hr>
              <% @listings_to_sell.each do |listing| %>
                <div class="col-sm-12 orange-border sm-margin sm-padding">
                    <div class="col-sm-4">
                      <%= link_to image_tag(listing.photo.url, class: "img-responsive center-block img-thumbnail"), listing_path(listing) %>
                    </div>
                    <div class="col-sm-4 text-center">
                      <h4>Title</h4>
                      <p class="no-margin">
                        <%= link_to listing.title, listing_path(listing) %>
                      </p>

                      <h4>Dimensions</h4>
                      <p class="no-margin"><%= listing.width %> in x <%= listing.height %> in <br /> <%= listing.area %> sq/in total</p>

                      <h4>Location</h4>
                      <p class="no-margin">Corner of <%= listing.address.line_1 %> and <%= listing.address.line_2 %> <br />
                        <%= listing.address.city %>, <%= listing.address.state %> <%= listing.address.zipcode %> <%= listing.address.country %>
                      </p>
                    </div>

                    <div class="col-sm-4 text-center">
                      <h4>Price</h4>
                      <p class="no-margin"><%= number_to_currency(listing.recurring_amount) %> <%= listing.renewal_period_label %> <br /> <%= number_to_currency(listing.base_amount) %> one time set-up fee</p>

                      <h4>Lease Term</h4>
                      <p class="sm-bottom-margin">1 of 5 months completed</p>

                      <div class="btn btn-warning">Messages</div>
                    </div>
                </div>
              <% end %>
            <% end %>

            <% if @listings_to_buy.present? %>
              <h3 class="text-center orange sm-top-margin">Requested Spaces</h3>
              <hr>
              <% @listings_to_buy.each do |listing| %>
                <div class="col-sm-12 orange-border sm-margin sm-padding">
                    <div class="col-sm-4">
                      <%= link_to image_tag(listing.photo.url, class: "img-responsive center-block img-thumbnail"), listing_path(listing) %>
                    </div>
                    <div class="col-sm-4 text-center">
                      <h4>Title</h4>
                      <p class="no-margin">
                        <%= link_to listing.title, listing_path(listing) %>
                      </p>

                      <h4>Dimensions</h4>
                      <p class="no-margin"><%= listing.width %> in x <%= listing.height %> in <br /> <%= listing.area %> sq/in total</p>

                      <h4>Location</h4>
                      <p class="no-margin">Corner of <%= listing.address.line_1 %> and <%= listing.address.line_2 %></p><br />
                        <%= listing.address.city %>, <%= listing.address.state %> <%= listing.address.zipcode %> <%= listing.address.country %>
                    </div>

                    <div class="col-sm-4 text-center">
                      <h4>Price</h4>
                      <p class="no-margin"><%= number_to_currency(listing.recurring_amount) %> <%= listing.renewal_period_label %> <br /> <%= number_to_currency(listing.base_amount) %> one time set-up fee</p>

                      <h4>Lease Term</h4>
                      <p class="sm-bottom-margin">1 of 5 months completed</p>

                      <% transaction = Transaction.new(listing_id: listing.id) -%>

                      <% if current_user.customer_id.present? %>
                        <div class="btn btn-warning sm-margin">
                          <%= link_to "Pay with your card on file", transactions_path(transaction: {listing_id: listing.id}), method: :post, class: "no-link-styling" %>
                        </div>
                      <% else %>
                        <%= render partial: "listings/payment_form", locals: { price: listing.base_amount*100, transaction: transaction } %>
                      <% end %>

                      <div class="btn btn-warning">Messages</div>
                    </div>
                </div>
              <% end %>
            <% end %>
          </div><!--/tab-pane-->

          <div class="tab-pane" id="messages">
            <ul class="list-group">
              <li class="list-group-item text-muted">Inbox</li>
              <li class="list-group-item text-right"><a href="#" class="pull-left">Here is your a link to the latest summary report from the..</a> 2.13.2014</li>
              <li class="list-group-item text-right"><a href="#" class="pull-left">Hi Joe, There has been a request on your account since that was..</a> 2.11.2014</li>
              <li class="list-group-item text-right"><a href="#" class="pull-left">Nullam sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
              <li class="list-group-item text-right"><a href="#" class="pull-left">Thllam sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
              <li class="list-group-item text-right"><a href="#" class="pull-left">Wesm sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
              <li class="list-group-item text-right"><a href="#" class="pull-left">For therepien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
              <li class="list-group-item text-right"><a href="#" class="pull-left">Also we, havesapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
              <li class="list-group-item text-right"><a href="#" class="pull-left">Swedish chef is assaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
            </ul>
          </div><!--/tab-pane-->

          <div class="tab-pane" id="settings">
            <%= form_for @user, url: edit_users_path, method: :put, html: {class: "form form-horizontal"} do |f| %>
              <legend>Edit Profile</legend>

              <div class="form-group">
                <div class="col-xs-6">
                  <%= f.label :email %>
                  <%= f.email_field :email, class: "form-control" %>
                </div>

                <div class="col-xs-6">
                  <%= f.label :phone %>
                  <%= f.telephone_field :phone, class: "form-control" %>
                </div>
              </div>

              <div class="form-group">
                <div class="col-xs-6">
                  <%= f.label :first_name %>
                  <%= f.text_field :first_name, class: "form-control" %>
                </div>

                <div class="col-xs-6">
                  <%= f.label :last_name %>
                  <%= f.text_field :last_name, class: "form-control" %>
                </div>
              </div>

              <div class="col-xs-5"></div>
              <%= f.submit "Update Profile", :class => 'btn btn-warning col-xs-2' %>
            <% end %>
          </div> <!--/tab-pane-->
        </div><!--/tab-content-->
      </div><!--/col-9-->
    </div><!--/row-->
  </div><!-- bootstrap snippet -->
</div>